:root {
  --wwwprestonmarketcomaunero: rgba(255, 255, 255, 1);
  --wwwprestonmarketcomaublack: rgba(0, 0, 0, 1);
  --wwwprestonmarketcomaumantle: rgba(134, 151, 145, 1);
  --wwwprestonmarketcomaualto: rgba(214, 214, 214, 1);
  --wwwprestonmarketcomaucrimson: rgba(237, 27, 43, 1);
  --wwwprestonmarketcomaunero-80: rgba(255, 255, 255, 0.8);
  --wwwprestonmarketcomausilver: rgba(204, 204, 204, 1);
  --wwwprestonmarketcomaugray: rgba(140, 140, 140, 1);
  --www-prestonmarket-com-au-montserrat-medium-72-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-72-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-72-font-size: 72px;
  --www-prestonmarket-com-au-montserrat-medium-72-letter-spacing: 10.800000190734863px;
  --www-prestonmarket-com-au-montserrat-medium-72-line-height: 79.19999694824219px;
  --www-prestonmarket-com-au-montserrat-medium-72-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-19-2-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-19-2-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-19-2-font-size: 19.200000762939453px;
  --www-prestonmarket-com-au-montserrat-regular-19-2-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-regular-19-2-line-height: 31.8700008392334px;
  --www-prestonmarket-com-au-montserrat-regular-19-2-font-style: normal;
  --www-prestonmarket-com-au-montserrat-medium-50-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-50-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-50-font-size: 50px;
  --www-prestonmarket-com-au-montserrat-medium-50-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-medium-50-line-height: 55px;
  --www-prestonmarket-com-au-montserrat-medium-50-font-style: normal;
  --www-prestonmarket-com-au-montserrat-medium-32-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-32-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-32-font-size: 32px;
  --www-prestonmarket-com-au-montserrat-medium-32-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-medium-32-line-height: 35.20000076293945px;
  --www-prestonmarket-com-au-montserrat-medium-32-font-style: normal;
  --www-prestonmarket-com-au-montserrat-medium-30-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-30-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-30-font-size: 30px;
  --www-prestonmarket-com-au-montserrat-medium-30-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-medium-30-line-height: 33px;
  --www-prestonmarket-com-au-montserrat-medium-30-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-16-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-16-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-16-font-size: 16px;
  --www-prestonmarket-com-au-montserrat-regular-16-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-regular-16-line-height: 26.559999465942383px;
  --www-prestonmarket-com-au-montserrat-regular-16-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-14-4-upper-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-14-4-upper-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-14-4-upper-font-size: 14.399999618530273px;
  --www-prestonmarket-com-au-montserrat-regular-14-4-upper-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-regular-14-4-upper-line-height: 23.899999618530273px;
  --www-prestonmarket-com-au-montserrat-regular-14-4-upper-font-style: normal;
  --www-prestonmarket-com-au-montserrat-medium-200-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-200-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-200-font-size: 200px;
  --www-prestonmarket-com-au-montserrat-medium-200-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-medium-200-line-height: 220px;
  --www-prestonmarket-com-au-montserrat-medium-200-font-style: normal;
  --www-prestonmarket-com-au-montserrat-semibold-40-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-semibold-40-font-weight: 600;
  --www-prestonmarket-com-au-montserrat-semibold-40-font-size: 40px;
  --www-prestonmarket-com-au-montserrat-semibold-40-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-semibold-40-line-height: 66.4000015258789px;
  --www-prestonmarket-com-au-montserrat-semibold-40-font-style: normal;
  --www-prestonmarket-com-au-montserrat-medium-18-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-18-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-18-font-size: 18px;
  --www-prestonmarket-com-au-montserrat-medium-18-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-medium-18-line-height: 19.799999237060547px;
  --www-prestonmarket-com-au-montserrat-medium-18-font-style: normal;
  --www-prestonmarket-com-au-montserrat-medium-16-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-medium-16-font-weight: 500;
  --www-prestonmarket-com-au-montserrat-medium-16-font-size: 16px;
  --www-prestonmarket-com-au-montserrat-medium-16-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-medium-16-line-height: 26.559999465942383px;
  --www-prestonmarket-com-au-montserrat-medium-16-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-18-upper-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-18-upper-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-18-upper-font-size: 18px;
  --www-prestonmarket-com-au-montserrat-regular-18-upper-letter-spacing: 3.5999999046325684px;
  --www-prestonmarket-com-au-montserrat-regular-18-upper-line-height: 19.799999237060547px;
  --www-prestonmarket-com-au-montserrat-regular-18-upper-font-style: normal;
  --www-prestonmarket-com-au-montserrat-bold-16-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-bold-16-font-weight: 700;
  --www-prestonmarket-com-au-montserrat-bold-16-font-size: 16px;
  --www-prestonmarket-com-au-montserrat-bold-16-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-bold-16-line-height: 26.559999465942383px;
  --www-prestonmarket-com-au-montserrat-bold-16-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-12-8-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-12-8-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-12-8-font-size: 12.800000190734863px;
  --www-prestonmarket-com-au-montserrat-regular-12-8-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-regular-12-8-line-height: 21.25px;
  --www-prestonmarket-com-au-montserrat-regular-12-8-font-style: normal;
  --www-prestonmarket-com-au-montserrat-semibold-14-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-semibold-14-font-weight: 600;
  --www-prestonmarket-com-au-montserrat-semibold-14-font-size: 14px;
  --www-prestonmarket-com-au-montserrat-semibold-14-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-semibold-14-line-height: 20px;
  --www-prestonmarket-com-au-montserrat-semibold-14-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-14-upper-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-14-upper-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-14-upper-font-size: 14px;
  --www-prestonmarket-com-au-montserrat-regular-14-upper-letter-spacing: 2.799999952316284px;
  --www-prestonmarket-com-au-montserrat-regular-14-upper-line-height: 15.399999618530273px;
  --www-prestonmarket-com-au-montserrat-regular-14-upper-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-40-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-40-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-40-font-size: 40px;
  --www-prestonmarket-com-au-montserrat-regular-40-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-regular-40-line-height: 40px;
  --www-prestonmarket-com-au-montserrat-regular-40-font-style: normal;
  --www-prestonmarket-com-au-montserrat-semibold-30-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-semibold-30-font-weight: 600;
  --www-prestonmarket-com-au-montserrat-semibold-30-font-size: 30px;
  --www-prestonmarket-com-au-montserrat-semibold-30-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-semibold-30-line-height: 49.79999923706055px;
  --www-prestonmarket-com-au-montserrat-semibold-30-font-style: normal;
  --www-prestonmarket-com-au-montserrat-regular-30-font-family: "Montserrat", Helvetica;
  --www-prestonmarket-com-au-montserrat-regular-30-font-weight: 400;
  --www-prestonmarket-com-au-montserrat-regular-30-font-size: 30px;
  --www-prestonmarket-com-au-montserrat-regular-30-letter-spacing: 0px;
  --www-prestonmarket-com-au-montserrat-regular-30-line-height: 49.79999923706055px;
  --www-prestonmarket-com-au-montserrat-regular-30-font-style: normal;
  --www-prestonmarket-com-au-inter-regular-40-font-family: "Inter", Helvetica;
  --www-prestonmarket-com-au-inter-regular-40-font-weight: 400;
  --www-prestonmarket-com-au-inter-regular-40-font-size: 40px;
  --www-prestonmarket-com-au-inter-regular-40-letter-spacing: 0px;
  --www-prestonmarket-com-au-inter-regular-40-line-height: 40px;
  --www-prestonmarket-com-au-inter-regular-40-font-style: normal;
}
